GITHUB_USERNAME=
GITHUB_PERSONAL_TOKEN=
GITHUB_REPO=
NEWRELEASES_SECRET=

# These values need to correspond with package.jsons `name`
# and the Makefiles `ENVIRONMENT`, respectively
ENVIRONMENT=dev
PROJECT=commit-on-release
